<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudia.backend.CM_90_1053.mapper.CM901053Mapper">
    <select id="findAllStockStatus" resultType="com.cloudia.backend.CM_90_1053.model.Stocks">
        <![CDATA[
        SELECT s.product_code AS productCode
             , pc.product_name AS productName
             , CAST(pc.product_category_code AS VARCHAR) AS productCategory
             , s.total_qty AS totalQty
             , s.cart_qty AS cartQty
             , s.defective_qty AS defectiveQty
             , s.available_qty AS availableQty
             , CASE
                    WHEN s.available_qty = 0 THEN 1
                    WHEN p.product_id IS NULL THEN 2
                    ELSE 3
                END AS saleStatus
              , s.created_by AS createdBy
              , s.created_at AS createdAt
          FROM stocks s
          LEFT JOIN product_code pc
            ON s.product_code = pc.product_code
          LEFT JOIN products p
            ON s.product_code = p.product_code
           AND p.is_display = '1'
         ORDER BY
               s.product_code
             , pc.product_name
        ]]>
    </select>

    <select id="findByStockStatus" resultType="com.cloudia.backend.CM_90_1053.model.Stocks">
        SELECT
            s.product_code AS productCode
        , pc.product_name AS productName
        , CAST(pc.product_category_code AS VARCHAR) AS productCategory
        , s.total_qty AS totalQty
        , s.cart_qty AS cartQty
        , s.defective_qty AS defectiveQty
        , s.available_qty AS availableQty
        , CASE
                WHEN s.available_qty = 0 THEN 1
                WHEN p.product_id IS NULL THEN 2
                ELSE 3
            END AS saleStatus
        , s.created_by AS createdBy
        , s.created_at AS createdAt
        FROM stocks s
        LEFT JOIN product_code pc
        ON s.product_code = pc.product_code
        LEFT JOIN products p
        ON s.product_code = p.product_code
        AND p.is_display = '1'

        <where>
            <if test='searchType == "1"'>
                AND s.product_code ILIKE CONCAT('%', #{searchTerm}, '%')
            </if>
            <if test='searchType == "2"'>
                AND pc.product_name ILIKE CONCAT('%', #{searchTerm}, '%')
            </if>
        </where>

        ORDER BY
            s.product_code,
            pc.product_name
    </select>
</mapper>
