target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.vscode/settings.json

### Maven Wrapper ###
mvnw
mvnw.cmd
.mvn/wrapper/maven-wrapper.properties

### Logback 로그 파일 ###
./log/
logback-*.log
logFile.txt

### 임시 파일 및 폴더 ###
.tmp/
tmp/
temp/

### 운영체제 관련 파일 ###
.DS_Store
Thumbs.db

### 환경 설정 파일 (주의!) ###
.env
*.properties

### img ###
backend/uploads/
backend/logs/

# 데브 확인용 스크립트
quick-check.sh
quick-start.sh
quick-stop.sh

# SQL
*.sql