<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudia.backend.CM_01_1004.mapper.CM011004Mapper">
    
    <select id="findMyPageMenus" resultType="com.cloudia.backend.CM_90_1000.model.Menu">
        SELECT 
            menu_id,
            menu_name,
            url,
            parent_id,
            sort_order
        FROM 
            menus
        WHERE 
            menu_code_value = 4
            AND is_display = '1'
        ORDER BY 
            sort_order ASC;
    </select>
</mapper>
