<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudia.backend.common.mapper.UtilMapper">
    <select id="isHoliday" resultType="boolean">
        SELECT EXISTS(
            SELECT 1 
            FROM holidays 
            WHERE holiday_date = #{holidayDate}
            AND country_code = #{countryCode}
        )
    </select>
</mapper>