<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudia.backend.auth.mapper.PasswordHistoryMapper">

    <insert id="insertPasswordHistory" parameterType="com.cloudia.backend.auth.model.PasswordHistory">
        INSERT INTO password_history (
            member_number,
            password,
            created_at
        ) VALUES (
            #{memberNumber}, 
            #{password},
            #{createdAt}
        )
    </insert>

    <select id="findByMemberNumber" parameterType="String" resultType="com.cloudia.backend.auth.model.PasswordHistory">
        SELECT 
            password,
            created_at AS createdAt
        FROM 
            password_history 
        WHERE 
            member_number = #{memberNumber}
    </select>
</mapper>