<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudia.backend.auth.mapper.RoleMapper">

    <select id="findAll" resultType="com.cloudia.backend.auth.model.Role">
        SELECT
            CAST(role_id AS INTEGER) AS roleId,
            role_name AS roleName,
            role_type AS roleType,
            description
        FROM
            permissions
        WHERE
            is_display = '1'
    </select>
    
    <select id="findByRoleType" parameterType="String" resultType="com.cloudia.backend.auth.model.Role">
        SELECT
            CAST(role_id AS INTEGER) AS roleId,
            role_name AS roleName,
            role_type AS roleType
        FROM
            permissions 
        WHERE
            role_type = #{roleType}
            AND is_display = '1'
    </select>

    <select id="findById" parameterType="int" resultType="com.cloudia.backend.auth.model.Role">
        SELECT
            CAST(role_id AS INTEGER) AS roleId,
            role_name AS roleName,
            role_type AS roleType
        FROM
            permissions 
        WHERE
            CAST(role_id AS INTEGER) = #{roleId}
            AND is_display = '1'
    </select>

</mapper>
