<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.cloudia.backend.CM_01_1003.mapper.CM011003Mapper">

    <select id="countByEmail" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE email = #{email}
    </select>
    
    <select id="findByEmail" parameterType="String" resultType="com.cloudia.backend.CM_01_1001.model.User">
        SELECT
            member_number,
            password,
            email
        FROM users
        WHERE email = #{email}
    </select>

    <update id="updatePassword" parameterType="com.cloudia.backend.CM_01_1001.model.User">
        UPDATE users
        SET 
            password = #{password},
            updated_at = NOW()
        WHERE 
            email = #{email}
    </update>
</mapper>