<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- 파일에 로그를 출력하기 위한 appender 설정 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- <file>./logFile.txt</file> 로그 파일 경로 및 파일명 지정 -->
        <encoder>
            <!-- 로그 출력 패턴 설정 -->
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <fileNamePattern>./log/logback-%d{yyyy-MM-dd}.log</fileNamePattern>
          <maxHistory>30</maxHistory>
          <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="com.HRMS.BackEnd" level="Trace">
        <appender-ref ref="file"/>
    </logger>
    <root level="Info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>