.top-scroll-button {
  position: fixed;
  bottom: 120px;
  right: 50px;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.top-scroll-button.visible {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 1023px) {
  .top-scroll-button {
    bottom: 110px;
    right: 40px;
  }
}
