.main-board {
  padding: 30px;
  padding-top: 0;
}

.review-img-wrapper {
  width: 120px;
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
}

.review-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 모바일 및 태블릿: 0 ~ 1023px */
@media screen and (max-width: 1023px) {
  .main-board {
    padding: 10px !important;
    padding-top: 0 !important;
  }
  .notice-section {
    border-right: none !important;
  }
}

/* 모바일: 0 ~ 767px */
@media screen and (max-width: 767px) {
  .px-sm-4 { 
    padding: 0 10px !important;
  }
}
