.inquiry-button {
  background-color: #afaeae;
  padding: 8px 40px;
  border: none;
  color: #fff;
}

.inquiry-button:hover {
  background-color: #9f9f9f;
}

/* TB: 0 ~ 1023px */
@media screen and (max-width: 1023px) {
  .footer-phone-number {
    margin-top: 1.5rem;
  }
}
