.review-form-container {
  padding: 1rem;
}

.review-image-preview {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid #ccc;
}

/* SP: 0 ~ 767px */
@media screen and (max-width: 767px) {
  .review-form-container {
    padding: 2rem 4rem;
  }
  .review-form-title {
    font-size: 30px;
  }

  .review-title-field {
    width: 100% !important;
  }
}
