.table-container {
  height: 495px;
}

.title-border {
  border-bottom: 3px solid #d9d9d9;
}

.product-title {
  display: flex;
  align-items: center;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 40px;
}
