.banner-image-wrapper {
  width: 100%;
  max-width: 1050px;
  aspect-ratio: 1050 / 560;
  height: auto;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1050 / 560;
  display: block;
  margin: 0 auto;
  transition: opacity 0.2s ease-in-out;
}

.banner-image:hover {
  opacity: 0.85;
}

.max-w-1080 {
  max-width: 1080px;
}

/* 모바일: 0 ~ 767px */
@media screen and (max-width: 767px) {
  .banner-image {
    padding: 0 10px;
  }
}
