.title-border {
  border-bottom: 3px solid #d9d9d9;
}
.product-title {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 40px;
}

.btn-mypage {
  width: 350px;
  padding: 12px 0;
}

.page-container {
  padding: 3rem;
}

.ag-grid-compact .ag-root-wrapper,
.ag-grid-compact .ag-center-cols-viewport,
.ag-grid-compact .ag-body-viewport {
  min-height: 0 !important;
}

@media (max-width: 576px) {
  .page-container {
    padding: 1.5rem 1rem;
  }
}

.modal-backdrop.fade.show {
  z-index: 1060 !important;
}

.modal.fade.show.d-block {
  z-index: 1070 !important;
}
