/* 모바일: 0 ~ 767px */
@media screen and (max-width: 767px) {
  .qna-list-container {
    padding: 0 1rem !important;
  }

  .qna-list-header {
    gap: 12px;
    margin-top: 24px !important;
    margin-bottom: 24px !important;
  }

  .qna-list-header h1 {
    font-size: 30px;
  }

  .qna-list-grid {
    font-size: 14px;
  }
}
