:root {
  --main-font: 'Noto Sans KR', sans-serif;
}

html,
body {
  color: #000;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  height: 100%;
  min-width: 320px;
  width: 100%;
}

body {
  font-family: var(--main-font);
  padding-top: 80px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1;
}

/* Typography (global defaults only) */
h1,
h2,
h3 {
  line-height: 1.1;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

/* layout */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

/* Mobile: 0 ~ 767px */
@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }

  .container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 30px;
  }
}

/* Tablet: 768 ~ 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 15px;
  }

  .container {
    padding: 0 2rem;
  }
}

/* PC: 1024px 이상 */
@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }

  .container {
    padding: 0 3rem;
  }
}
